.my-rect {
    -fx-fill: yellow;
    -fx-stroke: green;
    -fx-stroke-width: 5;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}

.background-color {
	-fx-background-color: linear-gradient(to right, red, blue);
}

.box {
    -fx-background-color: -my-background;
}
.cpu-vbox {
	-fx-cpu-background-color: BLACK;
}
.menu {
	-fx-text-fill: WHITE;
}