
.settings {
	-fx-background-color: #2a2a2aff;
    -fx-text-fill: WHITE;
}

.settings .label {
    -fx-text-fill: WHITE;
}

.menu {
	-fx-text-fill: WHITE;
    -fx-background-color: #1c1c1b;
    -fx-spacing: 2;
}

.menu .button {
    -fx-text-fill: #37b3fcff;
    -fx-background-color: #525252;
    -fx-font-size: 15px;
    -fx-font-family: 'Helvetica';
    -fx-font-weight: bold;
}

.menu .label {
    -fx-text-fill: #37b3fcff;
    -fx-background-color: #1c1c1b;
    -fx-font-size: 20px;
    -fx-font-family: 'Helvetica';
    -fx-font-weight: bold;
}

.dashboard {
    -fx-background-color: #2a2a2aff;
}

.cpu-and-gpu-horizontal {
    -fx-background-color: #2a2a2aff;
    -fx-text-fill: WHITE;
}

.hwTree {
    -fx-background-color: #2a2a2aff;
}

.hwTreeComponentInfo {
    -fx-background-color: #1c1c1b;
    -fx-text-fill: WHITE;
}

.hwTreeComponentInfo .label {
    -fx-font-size: 15px;
    -fx-text-fill: WHITE;
    -fx-font-family: 'Helvetica';
}

.tree-view {
    -fx-background-color: #2a2a2aff;
}

.tree-cell {
    -fx-background-color: #2a2a2aff;
    -fx-text-fill: WHITE;
    -fx-font-size: 14px;
}

.tree-view:focused.tree-cell:filled:selected {
    -fx-background-color: #525252;
}

.tree-cell:filled:selected{
    -fx-background-color: #525252;
}

.alertDP {
    -fx-background-color: #2a2a2aff;
    -fx-text-fill: WHITE;
}

.alertDP .button {
    -fx-background-color: #525252;
    -fx-fill: #2a2a2aff;
    -fx-text-fill: WHITE;
}

.alertDP > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    -fx-fill: #2a2a2aff;
    -fx-text-fill: WHITE;
    -fx-font-family: 'Helvetica';
}

.alertDP > .header-panel {
    -fx-background-color: #2a2a2aff;
    -fx-text-fill: WHITE;
    -fx-font-family: 'Helvetica';
}

.alertDP > .header-panel > .label{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
    -fx-font-family: 'Helvetica';
}